@font-face {
    font-family: iransansg;
    src: url(../font/IRANSansWeb.ttf);
    src: url(../font/IRANSansWeb\(FaNum\).woff2);
}

html {
    scroll-behavior: smooth;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: iransansg;
}

body {
    background-color: #f5f7f9;
}

a {
    text-decoration: none;
}

.text_justify {
    text-align: justify;
}

.fs-20 {
    font-size: 20px;
}

.h7 {
    font-size: 14px;
}

.h8 {
    font-size: 12px;
}

.height_100 {
    min-height: 100vh;
}

.height_90 {
    height: 90vh;
}

.height_75 {
    min-height: 75vh;
}

.height_50 {
    min-height: 50vh;
}

.height_25 {
    min-height: 25vh;
}

.box_1 {
    height: 40px;
    width: 40px;
}

.box_2 {
    height: 60px;
    width: 60px;
}

.box_3 {
    height: 20px;
    width: 20px;
}

.overflowy {
    overflow-y: auto;
}

.spin {
    width: 64%;
    height: 76%;
    top: 19%;
    right: 18%;
    /* background-color: rgba(49, 46, 46, 0.5); */
}

.br-16 {
    border-radius: 16px;
}

.br-20 {
    border-radius: 20px;
}

.texcol-w {
    color: white;
}

.la-105x {
    font-size: 30px;
}



@media (min-width: 1200px) {
    .height_75 {
        height: 75vh;
    }
}